* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    cursor: default;
}

@font-face{
    font-family: AvenirNext-light;
    src: url(../fonts/AvenirNextLTPro-It.otf);
}

@font-face{
    font-family: AvenirNext-Regular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face{
    font-family: AvenirNext-Bold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
}


a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
    font-size: 1vw;
    line-height: 1.3vw;
    color: #FFFFFF;
}


h2 {
    font-family: AvenirNext-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4vw;
    color: #FFFFFF;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.4vw;
    /* or 28px */
    letter-spacing: 0.02em;
    /* Mono/White */
    color: #FFFFFF;
}

body{
    background: #191932;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 7vw;
    height: 1.5vw;
    margin: 0.7vw;
    background: linear-gradient(271.36deg, #FE3939 50.01%, #FFFF14 72.39%);
    border-radius: 50px;
    transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
    width: 5vw;
}

/* -------------------------------------------Navbar Management------------------
-------------------- */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header .navbar {
    padding: 0.5vw 3vw;
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #191932;
}

.header .navbar .left-side-menu {
    width: 20%;
}


.header .navbar .left-side-menu a img {
    width: 80%;
    cursor: pointer;
}

.center-menu {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

.center-menu a {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.center-menu a .effect {
    width: 1vw;
    height: 1vw;
}

.header .center-menu a li {
    padding: 0.5vw 0.7vw;
    font-family: AvenirNext-Bold;
    font-style: normal;
    font-size: 1vw;
    line-height: 2vw;
    color: #FFF;
    transition: all 0s;
}

.header .center-menu a li:hover {
    color: #000000;
    background: #93E9FF;
    border-radius: 1vw;
    position: relative;
    top: -0.2vw;
}

.header .center-menu .nav-links {
    display: flex;
    gap: 1vw;
}

.header .center-menu .nav-links a .links {
    width: 2.5vw;
    padding: 0.1vw;
    background: linear-gradient(180deg, #FDEF19 0%, #E60012 100%);
    border-radius: 0.2vw;
    transition: all 0s;
}

.header .center-menu .nav-links a .links:hover {
    background: #93E9FF;
    position: relative;
    top: -0.2vw;
}

/* --------------------------------hero-section--------------
-------------------- */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vw;
    background-image: url(../images/ggbond\ banner\ \(6\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 12vw;
}

.hero-section .img1 {
    width: 55vw;
    display: none;
}

.hero-section .img2 {
    animation: zoomInDown 1.5s;
    width: 20.4vw;
    display: none;
}

/* --------------------------------whitepaper--------------
-------------------- */

.whitepaper {
    width: 100%;
    height: auto;
    padding: 2vw 5vw 5vw 5vw;
    background-image: url(../images/whitepaper\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whitepaper p {
    font-family: AvenirNext-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 3vw;
    color: #000000;
    /* text-shadow: 0.2vw 0.3vw 0.5vw #000000; */
}

.whitepaper h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 4vw;
    line-height: 7vw;
    font-weight: 400;
    color: #000000;
    text-shadow: 0.2vw 0.3vw 0.5vw #ffffff;
}

.whitepaper h1 {
    font-family: AvenirNext-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 3vw;
    color: #000000;
    /* text-shadow: 0.2vw 0.3vw 0.5vw #000000; */
}

.whitepaper img {
    width: 20%;
    margin-bottom: 5vw;
}

.whitepaper h2 {
    font-size: 2vw;
    line-height: 3vw;
    padding: 0.5vw 1.5vw;
    background-color: #191932;
}


/* --------------------------------About--------------
-------------------- */

.about {
    width: 100%;
    height: 70vw;
    padding: 5vw 10vw;
    display: flex;
    background-image: url(../images/about\ sec\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.about .left {
    padding-top: 15%;
    padding-right: 5%;
    padding-left: 3%;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.about .left p {
    font-family: AvenirNext-light;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
    color: #FFFFFF;
}

.about .left img {
    width: 50%;
}

.about .right {
    padding: 10%;
    width: 50%;
    height: auto;
}

.about .right img {
    width: 100%;
}

/* --------------------------------Tokenomics--------------
-------------------- */

.tokenomics {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokenomics h3 {
    font-family: AvenirNext-light;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7vw;
    line-height: 2vw;
    color: #FFFFFF;
    opacity: 0.6;
}

.tokenomics p {
    font-family: AvenirNext-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 2vw;
    color: #FFFFFF;
}

.tokenomics img {
    width: 67%;
    padding-right: 6%;
}

/* --------------------------------Our Team--------------
-------------------- */

.team {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5vw 20%;
    background-image: url(../images/team\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.team h2 {
    text-align: center;
}

.team .span {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.team .img1 {
    width: 7%;
    position: relative;
    top: 1vw;
    left: 95%;
}

.team .parent-box {
    padding: 0.3vw;
    background: #FFDE00;
    border: 0.3vw solid #000000;
    border-bottom: 0.6vw solid #000000;
    border-top-left-radius: 5.5vw;
    border-bottom-right-radius: 5.5vw;
}

.team .box {
    padding: 1vw 2vw;
    background: #B084FF;
    border: 0.3vw solid #000000;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.team .box p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 2vw;
    color: #000000;
}

.team .img2 {
    width: 25%;
    position: relative;
    top: -5vw;
    left: 80%;
}

.team .dolls {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.team .box1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
}

.team .box1 img {
    width: 100%;
}

.team .box1 h3 {
    font-family: AvenirNext-Bold;
    font-size: 2vw;
    line-height: 2.2vw;
    color: #FFFAAA;
    text-shadow: 0px 0px 20px #6BE4FF, 0px 4px 15px rgba(109, 229, 255, 0.23), 0px 0px 2px #FFFFFF, 0px 0px 13px rgba(0, 102, 255, 0.5);
}

.team .box1 p {
    font-family: AvenirNext-light;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
    color: #FFFFFF;
}

/* --------------------------------FAQ--------------
-------------------- */

.faq {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5vw 20%;
    gap: 2vw;
    background: radial-gradient(50% 50% at 50% 50%, #972D42 0%, #191932 70%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.faq h2 {
    text-align: center;
    margin-bottom: 3vw;
}

.faq .parent-box {
    width: 100%;
    padding: 0.5vw;
    border: 0.3vw solid #000000;
    background: #FFAFFF;
    box-shadow: 1.5vw 1vw 0 #000000;
}

.faq .parent-box .content {
    font-family: AvenirNext-regular;
    font-size: 1vw;
    line-height: 1.3vw;
    padding: 1vw;
    color: #000000;
    display: none;
}


.faq .parent-box .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0vw 1vw;
    background: #F8D748;
    border: 0.2vw solid #000000;
    cursor: pointer;
}

.faq .parent-box .box p {
    font-family: AvenirNext-Bold;
    font-size: 1.2vw;
    line-height: 2vw;
    color: #000000;
}

.faq .parent-box .box img {
    width: 14px;
    height: 9px;
}

.faq .special {
    margin-top: 5vw;
    font-size: 2vw;
    line-height: 3vw;
    text-align: center;
}

/* --------------------------------Roadmap + footer--------------
-------------------- */


footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5vw 0 3vw 0;
    background-image: url(../images/footer\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

footer h2 {
    text-align: center;
    margin-bottom: 10vw;
}

footer img {
    width: 100%;
}

.footer {
    width: 100%;
    padding: 0 5vw;
    margin-top: 10vw;
}

.footer img {
    width: 10%;
}

.footer img:hover {
    position: relative;
    top: -0.3vw;
    transform: scale(1.1);
}

.footer .special {
    font-size: 1vw;
    line-height: 2vw;
    margin-bottom: 5vw;
    text-align: center;
}

.footer .footer-bottom {
    border-top: 1px solid #97E1B4;
    padding-top: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-bottom .nav-links {
    display: flex;
    gap: 1vw;
}

.footer .footer-bottom .nav-links a .links {
    width: 2.5vw;
    padding: 0.1vw;
    background: linear-gradient(180deg, #FDEF19 0%, #E60012 100%);
    border-radius: 0.2vw;
    transition: all 0s;
}

.footer .footer-bottom .nav-links a .links:hover {
    background: #93E9FF;
    position: relative;
    top: -0.2vw;
}

.footer .footer-bottom .policy {
    display: flex;
    gap: 1vw;
}

.footer .footer-bottom .policy a {
    font-family: AvenirNext-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2vw;
    color: #FFFFFF;
}

.footer .footer-bottom .policy a:hover {
    color: #6BE4FF;
}


/* --------------------------------website Responsive--------------
-------------------- */

/* ----------------------------@ 1280px--------
------- */

@media (max-width: 1280px) {

    /* -------------------------navbar 1280px--------------------------
    ----------------------- */
    
    
    .header .navbar .left-side-menu a img {
        width: 100%;
    }
    
    .center-menu {
        gap: 1.5vw;
    }
    
    .center-menu a {
        gap: 1vw;
    }
    
    .header .center-menu .nav-links {
        gap: 1.5vw;
    }
    
    .header .center-menu .nav-links a .links {
        width: 3vw;
        padding: 0.1vw;
    }
    
    .header .center-menu a li{
        font-size: 1.2vw;
    }


    .header .navbar .left-side-menu{
        width: 20%;
    }

    .center-menu{
        width: 80%;
    }

}

/* ----------------------------@ 980px--------
------- */

@media (max-width: 980px) {

.header .navbar {
    padding-top: 1vw;
    padding-bottom: 0.3vw;
}

.header .navbar .left-side-menu {
    width: 30%;
}

.header .navbar .left-side-menu a img {
    width: 80%;
    height: auto;
    position: relative;
}

.header .navbar .left-side-menu a {
    font-size: 3.5vw;
    font-weight: 800;
    gap: 1vw;
}

.header .center-menu a li {
    font-size: 3vw;
    padding: 2vw;
    font-weight: 600;
}

.header .center-menu a li:hover {
    border-radius: 0vw;
    background: transparent;
    top: 0;
    transform: scale(1.1);
}

.header .center-menu .tg:hover li{
    color: #000000;
}

.center-menu {
    display: flex;
    width: 40%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vw;
    padding-top: 5vw;
    display: none;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 9.3vw;
    right: 0;
    background-color: #191932;
    z-index: -1;
    /* border-left: 2px solid rgba(255, 255, 20, 0.5);
    border-top: 2px solid rgba(255, 255, 20, 0.5); */
}

.center-menu.active {
    display: flex;
    background-color: #191932;
}

.center-menu .tg {
    background-color: #191932;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0s;
}


.center-menu .tg:hover {
    background: #FDEF19;
}

.header .center-menu .nav-links {
    display: flex;
    gap: 2vw;
}

.header .center-menu .nav-links a .links {
    width: 7vw;
    padding: 0.2vw;
    background: linear-gradient(180deg, #FDEF19 0%, #E60012 100%);
    border-radius: 0.5vw;
    transition: all 0s;
}

.navbar-toggle span {
    display: block;
    width: 5vw;
    height: 1vw;
    margin: 0.7vw;
    background: linear-gradient(271.36deg, #FFFF14 50.01%, #FFFF14 72.39%);
    border-radius: 50px;
    transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
    width: 3.5vw;
}

.navbar-toggle {
    display: block;
  }
  
  .navbar-toggle.active span:nth-child(1) {
    transition-delay: 0.1s;
    transform: rotate(45deg) translate(1.3vw, 1.3vw);
  }
  
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.active span:nth-child(3) {
    transition-delay: 0.1s;
    transform: rotate(-45deg) translate(0vw, 0vw);
    position: relative;
    top: -1.6vw;
  }

/* --------------------------------whitepaper--------------
-------------------- */

.whitepaper {
    width: 100%;
    height: auto;
    padding: 5vw 5vw 0vw 5vw;
    background-image: url(../images/whitepaper\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whitepaper p {
    font-size: 2.5vw;
    line-height: 4vw;
}

.whitepaper h1 {
    font-size: 3vw;
    line-height: 5vw;
}

.whitepaper img {
    width: 30%;
    margin-bottom: 7vw;
}

.whitepaper h3 {
    font-size: 7vw;
    line-height: 9vw;
}


/* --------------------------------About--------------
-------------------- */

.about {
    padding: 5vw 7vw;
}

.about .left {
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 0%;
    gap: 3vw;
}

.about .left p {
    font-size: 1.5vw;
    line-height: 2.5vw;
}

.about .left img {
    width: 60%;
}

.about .right {
    padding: 5%;
}

/* --------------------------------Tokenomics--------------
-------------------- */

.tokenomics {
    gap: 1.5vw;
}

.tokenomics h3 {
    font-size: 0.9vw;
    opacity: 0.8;
}

.tokenomics img {
    width: 70%;
}

/* --------------------------------Our Team--------------
-------------------- */

.team {
    padding: 5vw 15%;
}

.team .span {
    font-size: 4vw;
}

.team .img1 {
    width: 7%;
    position: relative;
    top: 1vw;
    left: 95%;
}

.team .box p {
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 2vw;
}

.team .box1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vw;
}

.team .box1 img {
    width: 100%;
}

.team .box1 h3 {
    font-size: 2vw;
    line-height: 2.2vw;
    color: #FFFAAA;
    text-shadow: 0px 0px 20px #6BE4FF, 0px 4px 15px rgba(109, 229, 255, 0.23), 0px 0px 2px #FFFFFF, 0px 0px 13px rgba(0, 102, 255, 0.5);
}

.team .box1 p {
    font-weight: 400;
    font-size: 1.3vw;
}

/* --------------------------------FAQ--------------
-------------------- */

.faq {
    padding: 5vw 15%;
    gap: 3vw;
    background: radial-gradient(50% 50% at 50% 50%, #972D42 0%, #191932 70%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.faq h2 {
    margin-bottom: 5vw;
}

.faq .parent-box {
    width: 100%;
    padding: 0.5vw;
    border: 0.3vw solid #000000;
    background: #FFAFFF;
    box-shadow: 1.5vw 1vw 0 #000000;
}

.faq .parent-box .content {
    font-size: 1.5vw;
    line-height: 2vw;
    padding: 1.3vw;
    display: none;
}

.faq .parent-box .box p {
    font-size: 2vw;
    line-height: 2vw;
}

/* --------------------------------Roadmap + footer--------------
-------------------- */

.footer {
    width: 100%;
    padding: 0 5vw;
    margin-top: 10vw;
}

.footer img {
    width: 25%;
}

.footer img:hover {
    top: -0.5vw;
}

.footer .footer-bottom {
    border-top: 2px solid #97E1B4;
    padding-top: 2vw;
}

.footer .footer-bottom .nav-links {
    display: flex;
    gap: 2vw;
}

.footer .footer-bottom .nav-links a .links {
    width: 8vw;
    padding: 0.5vw;
}

.footer .footer-bottom .nav-links a .links:hover {
    top: -0.5vw;
}

.footer .footer-bottom .policy {
    display: flex;
    gap: 3vw;
}

.footer .footer-bottom .policy a {
    font-size: 2.3vw;
    line-height: 2vw;
}

}

/* ----------------------------@ 600px--------
------- */

@media (max-width: 600px) {

    .header .navbar {
        padding-top: 3vw;
    }
    
    .header .navbar .left-side-menu {
        width: 30%
    }
    
    .header .navbar .left-side-menu a img {
        width: 100%;
        height: auto;
        position: relative;
        
    }
    
    .header .center-menu a li {
        font-size: 3.5vw;
        padding: 3.5vw;
    }
    
    .center-menu {
        display: flex;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5vw;
        padding-top: 5vw;
        display: none;
        transition: all 1s ease-in-out;
        z-index: -1;
        top: 12vw;
    }

    .center-menu.active {
        display: flex;
        background: #191932;
    }

    .header .center-menu .nav-links {
        display: flex;
        gap: 3vw;
    }
    
    .header .center-menu .nav-links a .links {
        width: 10vw;
        padding: 0.2vw;
        background: linear-gradient(180deg, #FDEF19 0%, #E60012 100%);
        border-radius: 0.5vw;
        transition: all 0s;
    }

    .navbar-toggle span {
        display: block;
        width: 7vw;
        height: 1.5vw;
        margin: 0.7vw;
        background: linear-gradient(271.36deg, #FFFF14 50.01%, #FFFF14 72.39%);
        border-radius: 50px;
        transition: all 0.5s;
    }
    
    .navbar-toggle span:nth-child(2) {
        width: 5vw;
    }
    
    .navbar-toggle {
        display: block;
      }
      
      .navbar-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(1.3vw, 1.3vw);
      }
      
      .navbar-toggle.active span:nth-child(2) {
        opacity: 0;
      }
      
      .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(0vw, 0vw);
        position: relative;
        top: -2.5vw;
      }

/* --------------------------------whitepaper--------------
-------------------- */

.whitepaper p {
    font-family: AvenirNext-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 3vw;
    margin-bottom: 2vw;
}

.whitepaper h1 {
    font-size: 3vw;
    line-height: 5vw;
}

.whitepaper img {
    width: 50%;
}

.whitepaper h3 {
    font-size: 5vw;
    line-height: 7vw;
}


/* --------------------------------About--------------
-------------------- */

.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .left {
    order: 2;
    padding-top: 15%;
    padding-right: 0%;
    padding-left: 0%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.about .left h2 {
    font-size: 7vw;
    line-height: 10vw;
}

.about .left p {
    font-size: 2vw;
    line-height: 3.5vw;
    text-align: center;
}

.about .left img {
    margin-left: 30%;
    width: 40%;
}

.about .right {
    width: 80%;
    height: auto;
}

/* --------------------------------Tokenomics--------------
-------------------- */

.tokenomics {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokenomics h2 {
    font-size: 7vw;
    line-height: 10vw;
}

.tokenomics p {
    font-family: AvenirNext-regular;
    font-size: 1vw;
    line-height: 2vw;
}

.tokenomics h3 {
    font-size: 1.5vw;
    line-height: 2vw;
    opacity: 0.6;
}

.tokenomics img {
    width: 80%;
}

/* --------------------------------Our Team--------------
-------------------- */

.team {
    padding: 5vw 10%;
}

.team h2{
    font-size: 7vw;
    line-height: 10vw;
}

.team .span {
    font-size: 5vw;
    margin-bottom: 5vw;
}

.team .parent-box {
    padding: 0.5vw;
    border: 0.5vw solid #000000;
    border-bottom: 1vw solid #000000;
}

.team .box {
    padding: 1.5vw 3vw;
    border: 0.6vw solid #000000;
}

.team .box p {
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
}

.team .dolls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.team .box1 img {
    width: 100%;
}

.team .box1 h3 {
    font-size: 5vw;
    line-height: 7vw;
}

.team .box1 p {
    font-family: AvenirNext-light;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 5vw;
    text-align: center;
}

/* --------------------------------FAQ--------------
-------------------- */

.faq {
    padding: 5vw 15%;
    gap: 5vw;
}

.faq h2 {
    font-size: 7vw;
    line-height: 10vw;
    text-align: center;
    margin-bottom: 5vw;
}

.faq .parent-box {
    width: 100%;
    padding: 1vw;
    border: 0.6vw solid #000000;
    background: #FFAFFF;
    box-shadow: 2vw 1.5vw 0 #000000;
}

.faq .parent-box .content {
    font-family: AvenirNext-regular;
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding: 2vw;
    color: #000000;
    display: none;
}


.faq .parent-box .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vw 2vw;
    border: 0.4vw solid #000000;
    cursor: pointer;
}

.faq .parent-box .box p {
    font-family: AvenirNext-Bold;
    font-size: 2vw;
    line-height: 3.5vw;
    color: #000000;
}

.faq .parent-box .box img {
    width: 10px;
    height: 7px;
}

/* --------------------------------Roadmap + footer--------------
-------------------- */

footer h2 {
    font-size: 7vw;
    line-height: 10vw;
}

.footer {
    width: 100%;
    padding: 0 5vw;
    margin-top: 10vw;
}

.footer img {
    width: 30%;
}

.footer img:hover {
    position: relative;
    top: -0.5vw;
    transform: scale(1.1);
}

.footer .footer-bottom {
    border-top: 2px solid #97E1B4;
    padding-top: 3vw;
    width: 100%;
}

.footer .footer-bottom .nav-links {
    gap: 2.5vw;
}

.footer .footer-bottom .nav-links a .links {
    width: 7vw;
    padding: 0.3vw;
}

.footer .footer-bottom .policy {
    gap: 2.5vw;
}

.footer .footer-bottom .policy a {
    font-size: 2.5vw;
    line-height: 3.5vw;
}

}